

/*noinspection ALL*/
QPushButton {
    image: url(./icons/2.png);
    /*image: url(./resource/icons/combo_down.png);*/
    border-top: 2px solid green;
    border-right: 2px solid green;
    border-bottom: 2px solid green;
    border-left: 2px solid green;
    width: 50px;
    height: 50px;

}




